<div class="text-center">
    <img src="/images/logo_image.png">
</div>

<div class="container">
    <div class="row">
        <div class="card col-4 text-center text-white bg-secondary">
            <h2 class="card-title">Burgers ordered:</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{this.burger_name}}
                    <button class="devour-burger btn btn-outline-warning" data-id="{{this.id}}">DEVOUR!</button>
                </li>
                <br>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-4"></div>
        <div class="card col-4 text-center text-white bg-secondary">
            <h2 class="card-title">Burgers devoured:</h2>

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{this.burger_name}}
                </li>
                <br>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="mt text-center">
    <h2>What kind of burger would you like?</h2>
    <form id="order-burger">

        <div class="form-group">
            <label for="burger-type">Burger:</label>
            <input type="text" id="burger-type" name="burger_name">
        </div>

        <button class="btn btn-warning" type="submit">Order Burger</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        //code to order a new burger
        $("#order-burger").on("submit", function (event) {
            event.preventDefault();

            var newBurger = {
                burger_name: $("#burger-type").val().trim()
            };

            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(function () {
                console.log(newBurger.burger_name + " created!");
                location.reload();
            });
        });
        //code to devour burgers
        $(document).on("click", ".devour-burger", function (event) {
            var id = $(this).data("id");
            var newState = {
                devoured: 1
            };
            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: newState
            }).then(function () {
                console.log("Burger has been devoured");
                location.reload();
            });
        });
    });
</script>